* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --page-background: #2d033b;
  --dark-purple: #810ca8;
  --light-purple: #e5b8f4;
  --white-color: #ffffff;
  --league-spartan: "League Spartan", sans-serif;
  --libre-baskerville: "Libre Baskerville", sans-serif;
  --boxes-shadow: 0 0 30px 0 var(--light-purple);
}

body {
  background-color: var(--page-background);
}

.section-margin {
  margin: 120px 0;
}

.section-header {
  font-family: var(--league-spartan);
  font-size: 50px;
  font-weight: 700;
  color: var(--light-purple);
  text-align: center;
  margin-bottom: 20px;
}

.cards-bg {
  background-color: rgb(249, 248, 250, 0.2);
  margin: 30px 7vw;
  border-radius: 20px;
  box-shadow: var(--boxes-shadow);
  display: flex;
  border: 2px solid var(--light-purple);
  overflow: hidden;
  position: relative;
}

/*navbar*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw 0 3vw;
  margin-bottom: 150px;
}

a {
  color: var(--light-purple);
  text-decoration: none;
  font-family: var(--libre-baskerville);
  font-weight: 600;
}

#my-icon img {
  height: 180px;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.menu-item {
  padding: 10px 13px;
  border: 3px solid var(--light-purple);
  box-shadow: 0 0 15px 0 var(--light-purple);
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
}

.menu-item:hover a {
  color: var(--page-background);
}

.menu-item:hover {
  background-image: linear-gradient(
    to right,
    var(--dark-purple),
    var(--light-purple)
  );
  border: 0px;
  box-shadow: 0 0 0 0;
}

.hamburger {
  display: none;
}

/*navbar done*/

/*about me section*/

#about-me {
  position: relative;
  background-color: var(--light-purple);
  margin: 5vw;
  border-radius: 60px;
  height: 500px;
}

#myimages {
  position: absolute;
  top: -120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-left: 8%;
}

#myimages #img_big,
#myimages #img_small {
  height: 250px;
  border: 6px solid #810ca8;
  outline: 6px solid #e5b8f4;
  border-radius: 50%;
}

#myimages #img_small {
  height: 150px;
}

.about-me-title {
  color: var(--dark-purple);
  font-size: 50px;
  font-family: var(--league-spartan);
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  font-weight: 600;
}

.about-me-desc {
  text-align: center;
  width: 80%;
  margin: 10px auto;
  font-family: var(--libre-baskerville);
  font-size: 22px;
  line-height: 1.5;
  font-style: italic;
  color: var(--page-background);
  font-weight: 550;
}
/*aboutme done*/

/*skills section*/

.skill-cards-1,
.skill-cards-2 {
  align-items: center;
  height: 70px;
}

.skill-card {
  height: 60px;
  width: 60px;
  border-radius: 15px;
  border: 2px solid var(--dark-purple);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.skill-card-left {
  animation: moveLeft 9s linear infinite;
  left: -15vw;
}
.skill-card-right {
  animation: moveRight 7.7s linear infinite;
  right: 110vw;
}

/* .card-100 {
  background-image: url(./assets/images/skills-cards/karma.PNG);
  background-size: 100%;
} */

@keyframes moveLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -150px;
  }
}

@keyframes moveRight {
  0% {
    right: 100%;
  }
  100% {
    right: -150px;
  }
}

/*skill section done*/

/*experience section*/

.experience-cards {
  flex-direction: column;
}

.experience-card {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.experience-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
  width: 50%;
  height: 250px;
  border-radius: 5px;
}

.experience-description {
  width: 40%;
  align-self: center;
}

.experience-heading {
  color: var(--white-color);
  text-transform: uppercase;
  font-family: var(--league-spartan);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.experience-brief {
  color: var(--light-purple);
  font-family: var(--libre-baskerville);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.5;
}

/*experience section done*/

/*award section*/
#awards {
  position: relative;
}

.award-cards {
  margin: 30px 7vw;
  display: flex;
  padding: 30px;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.award-card {
  width: 55%;
  border: 15px solid black;
  outline: 2px solid var(--white-color);
  background-size: 101%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  border-radius: 20px;
  flex-shrink: 0;
  position: absolute;
}

.carousel-control {
  position: absolute;
  top: 50%;
  background-color: var(--dark-purple);
  border: none;
  color: var(--light-purple);
  font-size: 40px;
  cursor: pointer;
}

.prev {
  left: 10vw;
}

.next {
  right: 10vw;
}

/*award section done*/

/* project types css */

#project-type {
  margin: 5vw 5vw 10vw 5vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-type-item {
  border: 3px solid var(--light-purple);
  box-shadow: 0 0 50px 0 var(--light-purple);
  border-radius: 10px;
  width: 15%;
}

.project-type-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

#project-type:hover .project-type-item {
  filter: grayscale(30%) opacity(50%);
}

.project-type-item:hover {
  transform: scale(1.1);
  transition: all 1000ms;
  filter: opacity(100%) grayscale(0%) !important;
}

.project-type-btn {
  display: block;
  text-align: center;
  padding: 20px;
  color: var(--light-purple);
  font-weight: 400;
  font-size: 50px;
}
/*project types section done*/

/*featured projects*/
#featured-projects {
  position: relative;
}

.project-mockups {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 550px;
  width: 85%;
  margin: 1vw auto 10vw auto;
  overflow: hidden;
}

.project-mockup {
  position: absolute;
  width: 90%;
  flex-shrink: 0;
}

.project-mockup img {
  height: 100%;
  width: 100%;
}

/*featured projects done*/

/*footer*/
footer {
  background-color: var(--dark-purple);
  color: var(--page-background);
  height: 40vh;
  display: flex;
  justify-content: space-between;
  padding-right: 30vw;
}

.footer-logo img {
  height: 200px;
  align-self: flex-start;
}

.footer-links {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-self: center;
}

.fa-brands {
  font-size: 50px;
}

/*MEDIA QUERIES*/
@media (max-width: 1100px) {
  .section-header {
    font-size: 25px;
  }
  /*navbar section*/
  .hamburger {
    display: block;
    color: var(--light-purple);
    font-size: 35px;
    flex-shrink: 0;
    margin-right: 5vw;
    align-self: center;
  }

  #menu-bar {
    display: none;
  }

  /*about section*/
  #img_small {
    display: none;
  }

  #myimages #img_big {
    height: 120px;
  }

  #myimages {
    top: -50px;
  }

  #about-me {
    border-radius: 15px;
    margin-left: 7vw;
    height: auto;
    padding-bottom: 10px;
  }

  .about-me-title {
    padding-bottom: 10px;
    padding-top: 80px;
    font-size: 30px;
  }

  .about-me-desc {
    font-size: 15px;
  }

  /*skills section*/
  .skill-cards-1,
  .skill-cards-2 {
    height: 50px;
  }

  .skill-card {
    height: 40px;
    width: 40px;
  }

  /*experience*/
  .experience-card {
    flex-direction: column;
    row-gap: 20px;
    margin: 20px auto;
  }

  .experience-description {
    width: 100%;
    text-align: center;
  }

  /*project-type section*/
  #project-type {
    align-items: center;
    row-gap: 20px;
  }

  .project-type-item {
    width: 35%;
    border: none;
    box-shadow: none;
  }

  .project-type-item img {
    border: 2px solid var(--light-purple);
  }

  /*featured projects*/
  .project-mockups {
    height: 300px;
  }

  /*footer*/
  footer {
    justify-content: space-around;
  }

  .footer-logo {
    align-self: center;
  }

  .footer-logo img {
    height: 100px;
  }

  .fa-brands {
    font-size: 25px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  /*experience*/
  .experience-image {
    width: 100%;
    height: 45vh;
  }

  /*awards*/
  .award-card {
    border: 0;
    outline: 0;
    width: 90%;
  }

  .prev {
    font-size: 15px;
    left: 20px;
    background-color: var(--page-background);
  }

  .next {
    font-size: 15px;
    right: 20px;
    background-color: var(--page-background);
  }

  .award-cards {
    height: 65vh;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  /*experience*/
  .experience-image {
    width: 100%;
    height: 55vh;
  }

  /*awards*/
  .award-cards {
    height: 85vh;
  }

  .award-card {
    background-repeat: no-repeat;
    border: 0;
    outline: 0;
    width: 90%;
  }

  .prev {
    font-size: 15px;
    left: 20px;
    background-color: var(--page-background);
  }

  .next {
    font-size: 15px;
    right: 20px;
    background-color: var(--page-background);
  }
}

@media (min-width: 501px) and (max-width: 615px) {
  /*experience*/
  .experience-image {
    width: 100%;
    height: 65vh;
  }

  /*awards*/
  .award-cards {
    height: 80vh;
  }

  .award-card {
    border: 0;
    outline: 0;
    width: 90%;
  }

  .prev {
    font-size: 15px;
    left: 20px;
    background-color: var(--page-background);
  }

  .next {
    font-size: 15px;
    right: 20px;
    background-color: var(--page-background);
  }
}

@media (min-width: 616px) and (max-width: 820px) {
  /*experience*/
  .experience-image {
    width: 100%;
    height: 75vh;
  }

  /*awards*/
  .award-cards {
    height: 120vh;
  }

  .award-card {
    border: 0;
    outline: 0;
    width: 90%;
  }

  .prev {
    font-size: 15px;
    left: 20px;
    background-color: var(--page-background);
  }

  .next {
    font-size: 15px;
    right: 20px;
    background-color: var(--page-background);
  }
}

@media (min-width: 821px) and (max-width: 980px) {
  /*experience*/
  .experience-image {
    width: 100%;
    height: 85vh;
  }

  /*awards*/

  .award-card {
    border: 0;
    outline: 0;
  }
}

@media (min-width: 981px) and (max-width: 1100px) {
  /*experience*/
  .experience-image {
    width: 100%;
    height: 95vh;
  }

  /*awards*/

  .award-card {
    border: 0;
    outline: 0;
  }
}

@media (min-width: 1101px) and (max-width: 1201px) {
  /*awards*/

  .award-card {
    border: 0;
    outline: 0;
  }
}
